<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginInterface</servlet-name>
        <servlet-class>servlets.LoginInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterInterface</servlet-name>
        <servlet-class>servlets.RegisterInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPwdInterface</servlet-name>
        <servlet-class>servlets.ResetPwdInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeInterface</servlet-name>
        <servlet-class>servlets.HomeInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBddServlet</servlet-name>
        <servlet-class>servlets.AddBddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelBddServlet</servlet-name>
        <servlet-class>servlets.DelBddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectBddServlet</servlet-name>
        <servlet-class>servlets.ConnectBddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitoreBddServlet</servlet-name>
        <servlet-class>servlets.MonitoreBddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconnexionServlet</servlet-name>
        <servlet-class>servlets.DeconnexionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginInterface</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterInterface</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPwdInterface</servlet-name>
        <url-pattern>/resetpwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeInterface</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBddServlet</servlet-name>
        <url-pattern>/AddBddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelBddServlet</servlet-name>
        <url-pattern>/DelBddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectBddServlet</servlet-name>
        <url-pattern>/ConnectBddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitoreBddServlet</servlet-name>
        <url-pattern>/MonitoreBddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnexionServlet</servlet-name>
        <url-pattern>/DeconnexionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
